.container-about-view {
  border-radius: 8px;
  border: 1px solid #1E2D3D;
  /* background: #011627; */
  margin: 5%;
}
.about-header{
  /* border-bottom: 1px solid #1E2D3D; */
  margin: 1em;
  padding: 1em;
}
.container-title-about {
  margin: 2em;
}

.title-about {
  color: #FFF;
  font-size: 14px;
}

.container-main-about{
  margin: 2em;
  color: #607B96;
  display: flex;
  flex-direction: column;
}

.title-about-view{
  color: #FF2599;
  font-size: 18px;
}

.subtitle-about-view{
  color: #43D9AD;
  font-size: 14px;
}

.technology-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}