.container-about-view {
  border-radius: 8px;
  border: 1px solid #1E2D3D;
  /* background: #011627; */
  margin: 3%;
}
.about-header{
  /* border-bottom: 1px solid #1E2D3D; */
  margin: 0 1em;
  padding: 0 1em;
}
.container-title-about {
  margin: 2em;
}

.title-about {
  color: #FFF;
  font-size: 14px;
}

.container-main-about{
  margin: 2em;
  color: #607B96;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  text-align:justify;
  gap: 1rem;
  font-size: 14px;
}

.bio, .education, .certifications{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.title-about-view{
  color: #FF2599;
  font-size: 18px;
}

.subtitle-about-view{
  color: #43D9AD;
  font-size: 16px;
}

.container-img-bio{
  display: flex;
}

.container-img-bio > img{
  width: 100%;
  border-radius: 8px;
}
.education{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}
.container-logo-date{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.container-logo-date > img{
  width: 10%;
  border-radius: 8px;
}
.education > h3{
  font-size: 15px;
  text-align: center;
}

.education > span{
  text-align: right;
}

.education > a{
  text-align: center;
}

.technology-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.container-certification{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.container-certification > img{
  width: 80%;
  border-radius: 8px;
}

.resume{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-resume{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.container-resume > a{
  font-size: 1.5rem;
  border-bottom: 1px solid #FF2599;
}
.contacts{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  /* background-color: red; */
}

.contacts > div {
  /* background-color: red; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* width: 85%; */
  /* height: 10rem; */
  text-align: justify;
  gap: 5px;
}

.contacts > div > img{
  width: 35px;
}