.container-about-view {
  border-radius: 8px;
  border: 1px solid #1E2D3D;
  /* background: #011627; */
  margin: 3%;
}

.about-header,
.sidebar {
  /* border-bottom: 1px solid #1E2D3D; */
  margin: 0 1em;
  padding: 0 1em;
}

.container-title-about {
  margin: 2em;
}

.title-about {
  color: #FFF;
  font-size: 14px;
}

.container-main-about {
  margin: 20px;
  color: #c7d4e0;
  display: flex;
  flex-direction: column;
  line-height: 23px;
  /* text-align:justify; */
  gap: 40px;
  font-size: 1.5rem;
}

.bio,
.education,
.certifications {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.title-about-view {
  color: #FF2599;
  font-size: 2rem;
  margin-top: 20px;
}

.subtitle-about-view {
  color: #43D9AD;
  font-size: 1.8rem;
}

.bio>p {
  font-size: 1.5rem;
}

.container-img-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.container-img-bio>img {
  width: 100%;
  border-radius: 8px;
  align-self: center;
}

.education {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}

.container-education{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  padding: 5px;
  /* background-color: red; */
}

.education>h3 {
  text-align: center;
}

.container-logo-education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.logo-education{
  width: 50px;
  border-radius: 8px;
}

.technology-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}


.container-certification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.container-certification>a {
  border-radius: 8px;
  width: 300px;
}

.container-certification>a>img {
  width: 100%;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-top: 30px; */
  /* background-color: red; */
}

.container-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: blue; */
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

.btn>a {
  color: #a972cb;
}

.contacts {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  /* background-color: red; */
}

.contacts>div {
  /* background-color: red; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* width: 85%; */
  /* height: 10rem; */
  text-align: justify;
  gap: 5px;
}

.contacts>div>img {
  width: 35px;
}

@media (min-width: 750px) {
  .container-sidebar-main {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
  }

  .container-main-about{
    /* background-color: #FF2599; */
    width: 700px;
    border-left: 1px solid #1E2D3D;
    padding-left: 20px;
  }

  /* .sidebar {
    background-color: black;
  } */

  .container-img-bio>img {
    width: 500px;
  }

  /* .container-education{
    background-color: red;
    flex-direction: row;
  } */

  .container-logo-education>img{
    width: 50px;
  }
}