/* Toda la section */
.home-view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home-view {
  width: 95%;
  border: 1px solid #1E2D3D;
  border-radius: 8px;
  height: 97vh;
}


/* Header */
.home-header {
  height: 45px;
}


/* Main */
.container-main-home {
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.container-hello {
  padding: 20px 0;
}

.title-home {
  color: #E5E9F0;
  font-size: 5rem;
  /* display: inline-block; */
  overflow: hidden;
  white-space: nowrap;
  animation: writetitle 2s steps(40, end) 1.5s;
  /* Inicia la animación después de 3 segundos */
  border-right: 2px solid transparent;
  /* Cambia a transparent para ocultar el cursor */

}

.span-hello {
  color: #E5E9F0;
  font-size: 1.8rem;
  display: inline-block;
  overflow: hidden;
  /* Para ocultar el texto original */
  white-space: nowrap;
  /* Para que el texto no se divida en múltiples líneas */
  animation: write 2s steps(40, end);
  border-right: 2px solid transparent;
  /* border-right: 2px solid #000; */
  /* Simula el cursor de escritura */
  /* padding-right: 8px; */
  /* Espacio entre el cursor y el texto */
}

.span-frontend {
  color: #FF2599;
  font-size: 20px;

}

.container-github-profile {
  /* background-color: #4D5BCE; */
  padding: 20px 0;
}

.titleGithubProfile {
  color: #607B96;
  font-size: 14px;
}

.containerGithubLink {
  /* background-color: #FF2599; */
  padding-top: 5px;
  font-size: 14px;
  line-height: 25px;
  /* background-color: red; */
}

.githubLinkCode {
  color: #4D5BCE;
}

.githubLinkVariable {
  color: #43D9AD;
}

@keyframes write{
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes writetitle{
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}