/* Toda la section */
.home-view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home-view{
  width: 95%;
  border: 1px solid #1E2D3D;
  border-radius: 8px;
  height: 97vh;
}


/* Header */
.home-header {
  height: 45px;
}


/* Main */
.container-main-home{
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}

.container-hello{
  padding: 20px 0;
}

.title-home {
  color: #E5E9F0;
  font-size: 5rem;
}

.span-hello {
  color: #E5E9F0;
  font-size: 1.8rem;
}

.span-frontend {
  color: #FF2599;
  font-size: 20px;

}
.container-github-profile{
  /* background-color: #4D5BCE; */
  padding: 20px 0;
}

.titleGithubProfile {
  color: #607B96;
  font-size: 14px;
}

.containerGithubLink{
  /* background-color: #FF2599; */
  padding-top: 5px;
}
.githubLinkCode {
  color: #4D5BCE;
}

.githubLinkVariable {
  color: #43D9AD;
}