/* .projects-view{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container-projects-view {
  border-radius: 8px;
  border: 1px solid #1E2D3D;
  margin: 5%;
  color: #E5E9F0;;
}

.container-projects{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}