.container-card-project {
  width: 30rem;
  height: 35rem;
  background-color: #011221;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 0.1rem solid #1E2D3D;
  border-radius: 15px;
}

.title-card-project {
  font-size: 12px;
}

.img-project {
  width: 20rem;
  border-radius: 10px;
}

.container-links-projects{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-card-project{
  background-color: red;
}

.container-link-github{
  display: flex;
  /* width: 15rem; */
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
/* .link-github-project {
  display: flex;
  width: 15rem;
  cursor: pointer;
} */

.logo-github-project {
  width: 25px;
  align-self: center;
}