.container-card {
  width: 8rem;
  height: 8rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.title-card {
  font-size: 12px;
}

.logo-tech {
  width: 4rem;
}