footer{
    width: 100%;
}

.container-footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #1E2D3D;
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    /* background-color: red; */
}

.container-span-image{
    /* background-color: blue; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: #607B96;
}

.link-github,
.link-linkedin {
    display: flex;
    width: 40px;
    height: 35px;
    cursor: pointer;
}

@media (min-width: 750px) {
    .container-span-image{
        /* background-color: yellow; */
        width: 50%;
        justify-content: center;
        gap: 50px;
    }
}