.container-footer {
    /* background-color: red; */
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 3rem; */
    font-size: 14px;
    color: #607B96;
    border-top: 1px solid #1E2D3D;
    /* border-radius: 0 0 8px 8px; */
    padding: 1rem;
}

.link-github,
.link-linkedin {
    display: flex;
    width: 40px;
    height: 35px;
}